* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --main-colour: blue 

}
.opening-page, #questions ,form, #lastSlide, #answers {
    max-width: 500px;
    margin: 70px auto;
    text-align: center;
}

.opening-page h3 {
    margin-bottom: 10px;
}
form input {
    display: block;
    padding: 7px;
    margin: 15px 0;
    border: 1px solid black;
    width: 50%;
}
#startButton {
    display: inline-block;
}
button {
    display: block;
    margin: 10px 0;
    padding: 10px 25px;
    background-color: var(--main-colour);
    color: white;
    border: none;
    max-width: fit-content;
    transition: 0.3s ease-in-out;
}    
button:hover {
    background-color: rgb(106, 208, 255);
}
#answers button {
    width: 250px;
    max-width: 250px;
}
#quetion-titles {
    text-align: left;
}

.answers {
    display: flex;
    flex-direction: column ;
    gap: 20px;
    margin-top: 20px;
}

.hide {
    display: none;
}

.correct , .correct:hover{
    background-color: greenyellow;
}

.wrong, .wrong:hover {
    background-color: red;
}
#timer {
   position: absolute;
   top: 30px;
   right: 30px;
   font-size: 20px;
}